[Unit]
Description=Time sync
After=network.target

[Service]
Type=simple
User=ranger
Group=ranger
ExecStart=sudo sh /home/ranger/bin/NetworkAutoAuth/SyncTime.sh

[Install]
WantedBy=multi-user.target
